.tradition-section {
    padding-top: 96px;
}

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tradition-content {
    max-width: 660px;
}

.tradition-title {
    margin-bottom: 42px;
}

.tradition-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.tradition-text .uppercase {
    text-transform: uppercase;
}

.tradition-text.limited {
    max-width: 330px;
}